<h1>Your item</h1>

<%= @item.name %>
<%= @item.description %>


<%= link_to "Edit this Item", edit_list_item_path(@item.list, @item) %>
<%= link_to "Delete this item", list_item_path(@item.list_id, @item), method: :delete %>

