.img {
  width: 45px;
}

body {
  background: image-url('mountains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  opacity: .9;
}