body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.flash.alert {
	margin: 0 auto;
	text-align: center;
	width: 50%;
	font-size: 20px;
	font-style: italic;
	border-radius: 10px;
	background-color: green;
	color: white;
	text-transform: uppercase;
}
