<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">Bucket List</h5>
        <p class="grey-text text-lighten-4">With This Tool, You Can Accomplish Everything On Your Bucketlist.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright BL
    </div>
  </div>
</footer>