<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bucket List</h5>
        <p class="grey-text text-lighten-4">With This Tool, You Can Accomplish Everything On Your Bucketlist.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to 'Home', root_path, class: "brand-logo grey-text text-lighten-3" %></li>
          <li><a class="grey-text text-lighten-3" href="#!">Bucket List</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Items</a></li>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright BL
    </div>
  </div>
</footer>